# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [0]:
# 3.14
# Select an option NoneType int float bool

float

In [0]:
# -34
# Select an option NoneType int float bool

int

In [0]:
# True
# Select an option NoneType int float bool

bool

In [1]:
# None
# Select an option NoneType int float bool

NoneType

In [0]:
# 3.0
# Select an option NoneType int float bool

float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [0]:
# Write the answers below

In [0]:
3 > 4 
False

In [ ]:
4.0 > 3.999
True

In [3]:
4 > 4
False

False

In [4]:
4 > + 4
False

False

In [ ]:
2 + 2 == 4
True

In [5]:
False

False

In [6]:
False or False
False

False

In [ ]:
not False
True

In [ ]:
(3.0 - 1.0) != (5.0 - 3.0)
False

In [7]:
3 > 4 or (2 < 3 and 9 > 10)
#False or (True and False)
#False

False

In [8]:
4 > 5 or 3 < 4 and 9 > 8
#True or True and True
#True

True

In [ ]:
not(4 > 3 and 100 > 6)
not(True and True)
False

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5 #assignment
a == 5.0 #conditionals
a
```

In [0]:
5

Ouput ??
```
b = 10
c = b > 9
c
```

In [0]:
True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [0]:
"abc"
"bcbcbc"
Error
"Ab"
"Ab"
"Ab"
"cd"

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [0]:
'h'
error
'o'
5
'o'
''
'hello,world'
'hello, world'
'worldworldworld'
True
False
False

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [19]:
str4 = 'helloworld'
True
'or'
'wor'
error
'ello'
'elloworl'
''
''
'dlrowolleh'

In [3]:
[str3:-1]

SyntaxError: invalid syntax (<ipython-input-3-0ddf3976cd1b>, line 1)

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [0]:
""

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [0]:
"Nope"

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [0]:
"Regal!"

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [0]:
"Hot"

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [0]:
"Cold"

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [0]:
5
4
3

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [0]:
0
1
2
3
4
5

"Outside of loop"
5

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [ ]:
None

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [0]:
10
9
8
7
6
5
4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [0]:
10
9
8
7
'Breaking out of the loop'
'Outside of loop'

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [0]:
''

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [9]:
total = 0
i = int(input())
while i != 0:
    total = total + (i)
    i -= 1

print (total)

10
55

In [4]:
def sum_of_n_numbers(n):
    acc = 0
    for i in range (1, n+1):
        acc += 1
    return acc

sum_of_n_numbers(10)

10

In [ ]:
while True:
    print("do somthing...")
    check_price_of_bitcoin()
    time.sleep(1hour)

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [13]:
i = 2
while i != 12:
    print(i)
    i += 2
print('Goodbye!')

2
4
6
8
10
Goodbye!

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [15]:
print('Hello')
i = 10
while i != 0:
    print (i)
    i -= 2

Hello
10
8
6
4
2

In [6]:
#use range might be easier
for i in range (10,0,-2):
    print(i)

10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

In [19]:
for i in range (2,12,2):
    print (i)

2
4
6
8
10

In [21]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [0]:
0
1
2
3
4
4

In [0]:
0
1
2
3
4

In [ ]:
#for integer division use '//'

In [ ]:
for variable in range(20):
 if variable % 4 == 0:
     print(variable)
 if variable % 16 == 0:
     print('Foo!')

In [ ]:
0
Foo!
4
8
10
12
16
Foo!

In [ ]:
for letter in 'hola':
 print(letter)

In [ ]:
h
o
l
a

In [ ]:
count = 0
for letter in 'Snow!':
 print('Letter # ' + str(count) + ' is ' + str(letter))
 count += 1
 break
print(count)

In [ ]:
Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals #means checking baboon in keys. to check in values, would be baboon in animals.values
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [ ]:
{'a':'aardvark', 'b':'donkey','c':'coati', 'd': 'donkey'}

In [ ]:
0,1,2,3,4

In [ ]:
error

In [ ]:
4

In [ ]:
8

In [ ]:
False

In [ ]:
True

In [ ]:
True

In [ ]:
['a','b','c','d']

In [ ]:
3
{'a':'anteater','c':'coati','d':'donkey'}

In [ ]:
['anteater','coati','donkey']

In [11]:
animals.values

NameError: name 'animals' is not defined

In [8]:
a = list([1,2,3])

In [9]:
a[0] #this is equal to the __getitem__ method

1

In [10]:
a.__getitem__(0) #

1

In [12]:
a.__len__() = len(a)
a.__delitem__() = del a

SyntaxError: invalid syntax (<ipython-input-12-94139f709e29>, line 2)

In [0]:
## Outputs...

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [ ]:
x[0] = 1

In [ ]:
x[2] = (3,'John',4)

In [ ]:
x[-1]= 'Hi'

In [ ]:
x[2][2]= 4

In [ ]:
x[2][-1]=4

In [ ]:
x[-1][-1]='i'

In [ ]:
x[-1][2]= error #slicing doesnt crash but indexing does. eg x[1:100]

In [ ]:
x[0:1]=(1,)

In [ ]:
x[0:-1]= (1,2,(3,'John',4))

In [ ]:
error

In [ ]:
2 in x = True

In [ ]:
3 in x = False

In [59]:
x = (1, 2, (3, 'John', 4), 'Hi')

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

In [41]:
varA = input('Enter something:')
varB = input('Enter something:')
if varA.isalpha() or varB.isalpha() == True:
    print('string involved')
    #else 
elif int(varA) > int(varB):
    print('bigger')
    
elif int(varA) == int(varB):
    print('equal')
    
elif int(varA) < int(varB):
    print('smaller')

Enter something:10
Enter something:5
bigger

In [39]:
a = '10'
a.isalpha()

False

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [55]:
vowels = ['a','e','i','o','u']
number = 0
s = input()
for letter in s:
    if letter in vowels:
        number += 1
print('Number of vowels : ' + str(number))

ssmwiomd
Number of vowels : 2

In [ ]:
s.count('a') +s.count('i')+...

In [16]:
s= "dederrwfaa"
list(map(s.count, ["a","e","i","o","u"]))
sum(map(s.count, ["a","e","i","o","u"]))

4

In [ ]:
def mymap(func, collection):
    return [func(item) for item in collection] # is equal to map function